@import url("pool.css");

/* Header */

.header {
  background-image: url("../img/bath/header_bath_bg.jpg");
}

.header__order-title {
  max-width: 250px;
}

/* Welcome */

.welcome__slider {
  order: 1;
  margin: 0 80px 0 auto;
}

/* Sauna */

.sauna__container {
  align-items: center;
  padding: 0;
  max-width: 1170px;
}

.sauna__container .h2 {
  margin: 0 auto 15px;
}

.sauna__wrapper {
  display: grid;
  grid-template:
    "sauna_images" 120px
    "sauna_text" 1fr
    "sauna_edge_1" auto
    "sauna_edge_2" auto
    "sauna_edge_3" auto
    "." 15px
    "sauna_work" auto
    "." 40px
    / 1fr;
  margin: 0 auto;
  max-width: 1170px;
  box-sizing: border-box;
}

.sauna__images {
  display: flex;
  grid-area: sauna_images;
  overflow-x: auto;
  padding-bottom: 15px;
  box-sizing: border-box;
}

.sauna__images::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

.sauna__images::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #e0e0e0;
}

.sauna__images::-webkit-scrollbar-thumb {
  background: #c2c2c2;
}

.sauna__images-img {
  min-width: 80%;
}

.sauna__images-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sauna__text {
  grid-area: sauna_text;
  padding: 30px 15px 15px;
  font-family: "Futura PT Book", sans-serif;
  font-size: 1rem;
  color: #181a20;
}

.sauna__work {
  grid-area: sauna_work;
  padding: 30px 15px;
  background: #f8f8f8;
}

.sauna__edge_1 {
  grid-area: sauna_edge_1;
}

.sauna__edge_2 {
  grid-area: sauna_edge_2;
}

.sauna__edge_3 {
  grid-area: sauna_edge_3;
}

.sauna__edge_1,
.sauna__edge_2,
.sauna__edge_3 {
  display: flex;
  align-items: center;
  padding: 8px 15px;
}

.sauna__edge_1 img,
.sauna__edge_2 img,
.sauna__edge_3 img {
  width: 32px;
  height: 40px;
}

@media (min-width: 550px) {
  /* Sauna */
  .sauna__wrapper {
    grid-template-rows: [sauna_images] 270px;
  }
}

/******************************************* WIDTH: 810 *******************************************/

@media (min-width: 810px) {
  /* Welcome */

  .slider_view {
    order: 1;
    margin-left: 20px;
  }

  .slider_preview-button {
    padding-left: 0;
  }

  .welcome__slider {
    margin: 0;
  }

  /* Sauna */
  .sauna__wrapper {
    grid-template:
      "sauna_images sauna_images sauna_images" 270px
      "sauna_text sauna_text sauna_text " auto
      "sauna_edge_1 sauna_edge_2 sauna_edge_3" auto
      ". . ." 15px
      "sauna_work sauna_work sauna_work" auto
      ". . ." 40px
      / 1fr 1fr 1fr;
    padding: 0 30px;
  }

  .sauna__images {
    overflow: hidden;
    padding: 0;
  }

  .sauna__images-img {
    min-width: auto;
  }

  .sauna__images-img:nth-child(1) {
    margin-right: 30px;
  }
}

/******************************************* WIDTH: 1330 *******************************************/

@media (min-width: 1330px) {
  /* Header */

  .header__order-title {
    max-width: none;
  }

  /* Welcome */
  .welcome__slider {
    order: 0;
    margin-right: 80px;
  }

  .slider_view {
    margin: 0;
  }

  /* Sauna */
  .sauna__wrapper {
    grid-template:
      "sauna_images sauna_images sauna_images sauna_images" 270px
      ". . . ." 30px
      "sauna_text sauna_text sauna_text sauna_work" auto
      ". . . ." 20px
      "sauna_edge_1 sauna_edge_2 sauna_edge_3 ." auto
      ". . . ." 40px
      / 1fr 1fr 1fr 2fr;
    padding: 0 30px;
  }

  .sauna__text {
    padding: 0 60px 0 0;
    font-size: 1.25rem;
  }

  .sauna__work {
    align-self: flex-start;
  }
}
