@font-face {
  src: url("../fonts/futura-pt-light.otf");
  font-family: "Futura PT Light";
  font-weight: 300;
  font-style: normal;
}

@font-face {
  src: url("../fonts/futura-pt-book.otf");
  font-family: "Futura PT Book";
  font-weight: 500;
  font-style: normal;
}

@font-face {
  src: url("../fonts/futura-pt-medium.otf");
  font-family: "Futura PT Medium";
  font-weight: 500;
  font-style: normal;
}

@font-face {
  src: url("../fonts/prata_regular.ttf");
  font-family: "Prata";
  font-weight: 400;
  font-style: normal;
}
