@import url('fonts.css');

/* General */

body {
	position: relative;
	margin: 0;
	padding: 0;
	font-size: 16px;
	background: #fff;
}

p {
	margin: 0;
}

section {
	display: flex;
	flex-direction: column;
}

.container {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 0 15px;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
}

.main_text {
	font-family: 'Futura PT Book', sans-serif;
	line-height: 30px;
	color: #181a20;
}

.secondary_text {
	font-family: 'Futura PT Light', sans-serif;
	color: #fff;
}

.link {
	font-family: 'Futura PT Light', sans-serif;
	color: #d9b690;
}

.link:hover {
	text-decoration: none;
}

.h1,
.h2,
.h3,
.h4 {
	margin: 0;
	font-family: 'Prata', serif;
	font-weight: 500;
	font-size: 1.5rem;
	text-align: center;
	color: #181a20;
}

.h2 {
	margin-bottom: 15px;
}

.h3 {
	font-size: 1.875rem;
	text-align: left;
}

.box_shadow {
	box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
}

.title_text {
	font-family: 'Futura PT Book', sans-serif;
	font-size: 1.25rem;
	color: #181a20;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	font-family: 'Futura PT Book', sans-serif;
	font-size: 1.25rem;
	text-decoration: none;
	color: #fff;
	background: #d9b690;
	transition: all 0.15s ease-in-out;
	cursor: pointer;
}

.button:visited {
	color: #fff;
}

.button:hover {
	background: #eeceac;
}

.button:active {
	background: #cfab84;
}

.nav-pages {
	display: flex;
	align-items: center;
	font-family: 'Prata', serif;
	font-size: 2rem;
	color: #d9b690;
}

.nav_pages-left,
.nav_pages-right {
	width: 32px;
	height: 32px;
	cursor: pointer;
}

.nav_pages-number {
	margin: 0 25px;
}

.nav_pages-left {
	background: url('../img/icons/arrow-left.svg') no-repeat center center;
}

.nav_pages-right {
	background: url('../img/icons/arrow-right.svg') no-repeat center center;
}

.nav_pages-left:hover {
	background-image: url('../img/icons/arrow-left-hover.svg');
}

.nav_pages-right:hover {
	background-image: url('../img/icons/arrow-right-hover.svg');
}

.carousel_wrapper {
	display: flex;
	overflow: auto;
	padding: 15px 0;
}

.carousel_wrapper::-webkit-scrollbar {
	width: 2px;
	height: 2px;
}

.carousel_wrapper::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px #e0e0e0;
}

.carousel_wrapper::-webkit-scrollbar-thumb {
	background: #c2c2c2;
}

.rating {
	height: 32px;
	font-size: 20px;
	letter-spacing: 3px;
	color: #c2c2c2;
}

.rating_stand {
	color: #ffc000;
}

.slider_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 360px;
}

.slider_view {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 320px;
	min-height: 320px;
	opacity: 1;
}

.slider_preview {
	display: flex;
	overflow: auto;
	max-width: 100%;
	max-height: 100%;
	transform: scale(1, -1);
}

.slider_preview::-webkit-scrollbar {
	width: 2px;
	height: 2px;
}

.slider_preview::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px #e0e0e0;
}

.slider_preview::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.4);
}

.slider_view-img,
.slider_preview-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 1;
	transition: all 0.2s ease-in-out;
}

.slider_preview-button {
	width: 120px;
	height: 40px;
	min-width: 120px;
	transform: scale(1, -1);
	transition: all 0.15s ease-in-out;
	cursor: pointer;
}

.slider_preview-button.active,
.slider_preview-button.active:hover {
	filter: brightness(0.5);
	cursor: default;
}

.slider_preview-button:hover {
	filter: brightness(0.75);
}

/* Mobile */

.mobile {
	position: absolute;
	z-index: 3;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 420px;
	box-sizing: border-box;
	background: transparent;
	transition: all 0.25s ease-in-out;
}

.mobile.show {
	position: fixed;
	padding-bottom: 25px;
	background: #fff;
	transition: all 0.25s ease-in-out;
}

.mobile__header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	padding: 15px;
}

.mobile.show .mobile__header {
	border-bottom: 1px solid #d7d7d7;
	transition: all 0.25s ease-in-out;
}

.mobile.show .secondary_text {
	color: #242424;
	transition: all 0.25s ease-in-out;
}

.mobile.show .mobile__menu-button {
	padding: 6px 3px 0;
	box-sizing: border-box;
}

.mobile.show + .header__content {
	margin-top: 0;
}

.mobile__menu-button {
	width: 26px;
	height: 26px;
}

.modal {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	display: none;
	justify-content: center;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.modal.show {
	display: flex;
}

.modal.show .modal__container {
	animation-name: open_modal;
	animation-duration: 0.25s;
}

@keyframes open_modal {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(1);
	}
}

.modal__recall,
.modal__recall_done,
.modal__offers {
	position: relative;
	display: none;
	flex-direction: column;
	align-items: center;
}

.modal__recall,
.modal__recall_done {
	padding: 35px 22px 22px;
	background: #fff;
}

.modal__recall.show,
.modal__recall_done.show,
.modal__offers.show {
	display: flex;
}

.modal__container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto 15px;
	width: 100%;
	max-width: 390px;
	box-sizing: border-box;
}

.modal__close-button {
	position: absolute;
	right: 0;
	top: -20px;
	width: 15px;
	height: 15px;
	cursor: pointer;
}

/* Modal Recall */

.modal__title {
	margin-bottom: 30px;
	padding: 0 30px;
	font-family: 'Futura PT Medium', sans-serif;
	font-size: 1.25em;
	text-align: center;
	color: #242424;
}

.modal__form {
	width: 100%;
}

.modal__form input {
	display: flex;
	align-items: center;
	margin: 6px 0 22px;
	border: 1px solid #d7d7d7;
	padding: 0 20px;
	width: 100%;
	height: 40px;
	box-sizing: border-box;
}

.modal__form input.invalid {
	border-color: #db3832;
}

.modal__form input:focus {
	outline: none;
}

.modal__form input::placeholder {
	font-family: 'Futura PT Book', sans-serif;
	font-size: 1rem;
	color: #aaa;
}

.modal__form input.invalid::placeholder {
	color: #db3832;
}

.modal__form input[type='submit'] {
	margin-bottom: 10px;
	border: none;
	font-family: 'Futura PT Book', sans-serif;
	font-size: 1rem;
	color: #fff;
}

.modal__form label {
	font-family: 'Futura PT Book', sans-serif;
	font-size: 1rem;
	color: #242424;
}

.modal__agree {
	padding: 0 20px;
	font-family: 'Futura PT Book', sans-serif;
	font-size: 0.75rem;
	text-align: center;
	color: #aaa;
}

/* Modal Recall Done! */

.modal__check_icon {
	width: 125px;
	height: 125px;
}

.modal__message {
	margin: 35px 0;
	font-family: 'Futura PT Book', sans-serif;
	font-size: 1rem;
	text-align: center;
	color: #181a20;
}

.modal__message p:nth-child(1) {
	margin-bottom: 8px;
}

.modal__recall_done .button {
	width: 100%;
	color: #fff;
}

/* Modal offers */

.modal__offers {
	justify-content: flex-end;
	width: 100%;
	height: 470px;
	background: url('../img/offers_carousel_slide_1.jpg') no-repeat center 100% /
		cover;
}

.modal__offers::after {
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 25%) 0%,
		rgba(0, 0, 0, 80%) 100%
	);
	pointer-events: none;
}

.modal__offers_content {
	z-index: 1;
	padding: 35px 22px 22px;
	width: 100%;
	box-sizing: border-box;
}

.modal__offers_content-name,
.modal__offers_content-text {
	color: #fff;
}

.modal__offers_content-name {
	font-family: 'Futura PT Medium', sans-serif;
	font-size: 1rem;
}

.modal__offers_content-text {
	font-family: 'Futura PT Book', sans-serif;
	font-size: 0.875rem;
}

/* Header */

.header {
	position: relative;
	height: 100vh;
	background: url('../img/header_bg.jpg') no-repeat center top / cover;
}

.header::after {
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0) 50%,
		rgb(255, 255, 255) 100%
	);
	pointer-events: none;
}

.header__content {
	padding-top: 80px;
	height: 100%;
}

.header__conntacts {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 30px;
	padding: 15px 0;
}

.header__conntacts .header__conntacts-call {
	display: none;
}

.header__conntacts-call {
	display: flex;
	flex-direction: column;
	align-self: auto;
	justify-content: center;
	width: 45%;
	text-align: right;
}

.header__conntacts-address,
.header__order-mouse {
	display: none;
}

.header__nav {
	display: flex;
	transform: translateX(-100%);
	transition: all 0.25s ease-in-out;
}

.header__nav_list {
	display: flex;
	flex-direction: column;
	list-style: none;
	margin: 0;
	padding: 0;
}

.header__nav_list-item {
	margin: 0 15px;
}

.header__nav_list-item:last-child {
	margin: 0 0 0 15px;
}

.header__nav_list-link {
	display: block;
	padding: 10px 0;
	font-family: 'Futura PT Book', sans-serif;
	font-size: 1.25rem;
	text-decoration: none;
	color: #242424;
	transition: all 0.15s ease-in-out;
}

.header__nav_list-link:hover {
	color: #d9b690;
}

.header__conntacts-logo {
	display: flex;
	position: relative;
	width: fit-content;
	margin: 0 auto;
	z-index: 5;
	justify-content: center;
	height: 66px;
}

.header__order {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.header__order-title {
	margin-bottom: 55px;
	font-family: 'Prata', serif;
	font-size: 1.875rem;
	text-align: center;
	color: #fff;
}

.header__order-calc {
	z-index: 5;
	align-self: stretch;
	margin: 0 45px;
	height: 200px;
	background: rgba(255, 255, 255, 0.75);
}

/* Welcome */

.welcome__container {
	align-items: center;
	padding: 0;
}

.welcome__hr {
	margin: 30px 0;
	border: none;
	width: 1px;
	height: 55px;
	box-sizing: border-box;
	background-color: #d9b690;
}

.welcome__title {
	padding: 0 15px;
	text-align: center;
}

.welcome__text_wrapper {
	margin-top: 20px;
	padding: 0 15px;
	max-width: 100%;
	text-align: center;
	z-index: 1;
}

.welcome__text:nth-child(1) {
	/* display: block; */
	margin-bottom: 10px;
}

.welcome__rooms {
	display: flex;
	width: 100%;
}

.welcome__rooms_desc {
	display: none;
}

.welcome__slider-desc {
	position: absolute;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0) 50%,
		rgba(0, 0, 0, 1) 100%
	);
}

.welcome__slider-name {
	margin: 0 0 10px 15px;
	margin-left: 15px;
	font-family: 'Prata', serif;
	font-size: 1.25rem;
	color: #fff;
}

.welcome__slider-details {
	margin: 0 0 25px 15px;
}

.welcome__slider_buttons {
	position: absolute;
	top: calc(50% - 10px);
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.welcome__slider_buttons-left,
.welcome__slider_buttons-right {
	position: relative;
	width: 50px;
	height: 20px;
	background-color: rgba(0, 0, 0, 0.3);
}

.welcome__slider_buttons-left::after,
.welcome__slider_buttons-right::after {
	content: '';
	position: absolute;
	width: 32px;
	height: 20px;
}

.welcome__slider_buttons-left::after {
	left: 8px;
	background: url('../img/icons/arrow-left-white.svg') no-repeat center center;
}

.welcome__slider_buttons-right::after {
	right: 8px;
	background: url('../img/icons/arrow-right-white.svg') no-repeat center
		center;
}

/* Offers */

.offers {
	padding-top: 45px;
}

.offers__container {
	padding: 0;
}

.offers__container .h2 {
	margin-bottom: 0;
}

.offers__carousel-card {
	position: relative;
	overflow: hidden;
	margin-left: 10px;
	width: 235px;
	height: 295px;
	min-width: 235px;
	cursor: pointer;
}

.offers__carousel-card::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0) 50%,
		rgba(0, 0, 0, 1) 100%
	);
}

.offers__carousel-card-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.offers__carousel-card-desc {
	position: absolute;
	bottom: 15px;
	z-index: 1;
	padding: 0 15px;
	width: 100%;
	box-sizing: border-box;
	color: #fff;
}

.offers__carousel-card-desc-name {
	font-family: 'Futura PT Medium', sans-serif;
}

.offers__hr {
	margin: 10px auto 5px 0;
	border: none;
	width: 50px;
	height: 1px;
	background: #fff;
}

.offers__carousel-card-desc-text {
	overflow: hidden;
	height: 52px;
	font-family: 'Futura PT Book', sans-serif;
	font-size: 0.875rem;
}

.offers__carousel-card-desc-full_text {
	display: none;
}

.offers__carousel-card-seemore {
	position: absolute;
	right: 20px;
	bottom: 0;
	display: none;
}

/* Services */

.services {
	padding-top: 45px;
}

.services__container {
	margin: 0;
	padding: 0;
}

.services__wrapper {
	display: flex;
	flex-direction: column;
	transition: all 0.15s ease-in-out;
}

.services__block {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	overflow: hidden;
	margin: 0 40px 10px 0;
	height: 260px;
	background: #fff no-repeat center 100% / cover;
	transition: all 0.25s ease-in-out;
	cursor: pointer;
}

.services__block:nth-child(1) {
	background-image: url('../img/services_1.jpg');
}

.services__block:nth-child(2) {
	background-image: url('../img/services_2.jpg');
}

.services__block:nth-child(3) {
	background-image: url('../img/services_3.jpg');
}

.services__block:nth-child(4) {
	background-image: url('../img/services_4.jpg');
}

.services__block:nth-child(even) {
	margin: 0 0 10px 40px;
}

.services__block::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.5) 100%
	);
	pointer-events: none;
}

.services__block_content {
	z-index: 1;
	margin-bottom: 15px;
	padding: 0 15px;
	width: 100%;
	height: 60px;
	box-sizing: border-box;
	color: #fff;
}

.services__block_content-title {
	overflow: hidden;
	margin-bottom: 0;
	font-family: 'Futura PT Medium', sans-serif;
	font-size: 1.5rem;
}

.services__block_content-text,
.services__block-button {
	display: none;
}

/* Infrastructure */

.infrastructure {
	padding-top: 45px;
	padding-bottom: 100px;
}

.infrastructure__container {
	padding: 0;
}

.infrastructure__slider {
	overflow: hidden;
}

.infrastructure__slider_wrapper {
	position: relative;
	display: flex;
	align-items: center;
}

.infrastructure__slider_container {
	display: flex;
	height: 320px;
	transition: all 0.5s ease-in-out;
}

.infrastructure__slide {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.infrastructure__slider_nav {
	/* box-shadow: 0 0 50px 0 rgba(200, 200, 200, 0.25); */
	position: absolute;
	top: 175px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin: 0 15px;
	padding: 22px;
	height: 245px;
	box-sizing: border-box;
	background: #fff;
}

.infrastructure__slider_text {
	margin-bottom: 25px;
	font-size: 1rem;
	text-align: center;
}

/* Reviews */

.reviews {
	padding-top: 45px;
}

.reviews__container {
	padding: 0;
}

.reviews h2 {
	margin-bottom: 0;
}

.reviews__card {
	/* box-shadow: 0 0 20px 0 rgba(217, 182, 144, 0.1); */
	display: flex;
	flex-direction: column;
	margin-left: 15px;
	padding: 10px 15px;
	height: 245px;
	min-width: 236px;
	box-sizing: border-box;
	color: #242424;
	cursor: pointer;
}

.reviews__card-name {
	margin-bottom: 5px;
	font-family: 'Futura PT Medium', sans-serif;
}

.reviews__card-rating {
	display: flex;
	align-items: center;
}

.reviews__card-date {
	margin-left: 6px;
	font-family: 'Futura PT Book', sans-serif;
	color: #aaa;
}

.reviews__card-text {
	overflow: hidden;
	max-height: 125px;
	font-family: 'Futura PT Book', sans-serif;
	font-size: 0.875rem;
}

.reviews__card-link {
	margin-top: auto;
}

/* Certificates */

.certificates {
	padding: 45px 0;
	background: #f8f8f8;
}

.certificates__container {
	padding: 0;
}

.certificates .h2 {
	margin-bottom: 0;
}

.certificates__partners {
	display: flex;
	flex-direction: column;
}

.certificates__slider {
	height: 100%;
}

.certificates__slider_preview-button {
	min-width: 70%;
}

.certificates__slider_preview {
	padding-bottom: 40px;
}

.certificates__slider_view {
	display: none;
}

.certificates__slider .slider_preview-button {
	opacity: 0.4;
	filter: brightness(1);
}

.certificates__slider .slider_preview-button.active {
	opacity: 1;
	filter: brightness(1);
}

.certificates__slider .slider_preview-button:hover {
	opacity: 1;
}

.partners {
	display: flex;
	justify-content: center;
	padding: 100px 15px 0;
	width: 100%;
	box-sizing: border-box;
}

.partners__wrapper {
	/* box-shadow: 0 0 50px 0 rgba(200, 200, 200, 0.25); */
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 45px 0;
	width: 100%;
	background: #fdfdfd;
}

.partners__title {
	position: absolute;
	top: -60px;
	margin: 0;
	padding-bottom: 50px;
}

.partners_logos {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
	width: 100%;
}

.partners_logos img {
	display: block;
	margin-bottom: 30px;
	width: 160px;
	height: 80px;
	object-fit: contain;
}

.partners_logos img:nth-last-child(1) {
	margin-bottom: 0;
}

/* News */

.news {
	padding-top: 45px;
}

.news__wrapper {
	display: flex;
	flex-direction: column;
}

.news__card {
	/* box-shadow: 0 0 20px 0 rgba(217, 182, 144, 0.1); */
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
	height: 290px;
}

.news__img {
	width: 100%;
	height: 120px;
	object-fit: cover;
}

.news__content {
	display: flex;
	flex-direction: column;
	padding: 10px 15px;
	height: 100%;
	box-sizing: border-box;
	color: #242424;
}

.news__date {
	margin-bottom: 10px;
	font-family: 'Futura PT Book', sans-serif;
	font-size: 0.875rem;
	color: #aaa;
}

.news__title {
	margin-bottom: 10px;
	font-family: 'Futura PT Medium', sans-serif;
}

.news__text {
	overflow: hidden;
	height: 60px;
	font-family: 'Futura PT Book', sans-serif;
	font-size: 0.875rem;
	line-height: 20px;
}

.news__read_more {
	display: block;
	margin-top: auto;
	font-family: 'Futura PT Book', sans-serif;
}

/* Footer */

.footer {
	padding-top: 45px;
}

.footer__container {
	position: relative;
	padding: 0;
}

.footer__map {
	position: relative;
	height: 220px;
}

.footer__map iframe {
	border: none;
	width: 100%;
	height: 100%;
}

.footer__map__address-wrapper {
	position: relative;
	top: -90px;
	display: flex;
	justify-content: center;
	padding: 0 15px;
	min-width: 100%;
	box-sizing: border-box;
}

.footer__map__address {
	/* box-shadow: 0 0 50px 0 rgba(200, 200, 200, 0.25); */
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 10px;
	box-sizing: border-box;
	text-align: center;
	background: #fff;
}

.footer__map_title {
	margin-bottom: 12px;
}

.footer__map__address-text {
	margin-bottom: 30px;
	font-family: 'Futura PT Book', sans-serif;
	color: #aaa;
}

.footer__map__address-text,
.footer__map__address-email,
.footer__map__address-tel {
	font-size: 1rem;
}

.footer__map__address-tel,
.footer__map__address-email {
	display: flex;
	font-family: 'Futura PT Medium', sans-serif;
	color: #242424;
}

.footer__map__address-tel {
	margin-bottom: 15px;
}

.footer__map__address-tel::before,
.footer__map__address-email::before {
	content: '';
	margin-right: 5px;
	width: 25px;
	height: 25px;
	background-position: center center;
	background-repeat: no-repeat;
}

.footer__map__address-tel::before {
	background-image: url('../img/icons/phone.svg');
}

.footer__map__address-email::before {
	background-image: url('../img/icons/mail.svg');
}

.footer__copyright {
	margin-top: 150px;
	font-size: 0.875rem;
}

.footer__copyright_container {
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.footer__copy,
.footer__rights {
	margin-bottom: 5px;
	font-family: 'Futura PT Book', sans-serif;
	text-align: center;
	color: #aaa;
}

.footer__rights:hover {
	text-decoration: none;
}

/**************************** MEDIA ****************************/

@media (min-width: 550px) {
	.slider_wrapper {
		height: 500px;
	}

	.certificates__slider {
		height: 100%;
	}

	.slider_view {
		height: 460px;
	}

	.header__order-calc {
		margin: 0 auto;
		width: 390px;
	}

	.partners__wrapper {
		width: 80%;
	}

	.news__card {
		margin-bottom: 15px;
		height: 420px;
	}

	.news__img {
		height: 200px;
	}

	.news__content {
		height: 220px;
	}

	.news__text {
		height: 65px;
	}

	.infrastructure__slider_nav {
		top: 190px;
		margin: 0 90px;
		height: 145px;
	}

	.certificates__slider_preview-button {
		min-width: 40%;
	}
}

/******************************************* WIDTH: 810 *******************************************/
@media (min-width: 810px) {
	.container {
		padding: 0 30px;
		max-width: 1850px;
	}

	.slider_wrapper {
		position: relative;
		flex-direction: row;
		align-items: flex-start;
		width: 100%;
	}

	.slider_view {
		height: 100%;
		opacity: 1;
	}

	.slider_preview {
		flex-direction: column;
		justify-content: flex-start;
		overflow-x: hidden;
		transform: none;
	}

	.slider_preview::-webkit-scrollbar-thumb {
		background: #c2c2c2;
	}

	.slider_preview-button {
		padding: 10px 20px;
		width: 100px;
		height: 100px;
		min-width: 100px;
		transform: none;
	}

	/* Modals */

	.modal__offers_content-name {
		font-size: 1.25rem;
	}

	.modal__offers_content-text {
		font-size: 1rem;
	}

	/* Services */

	.services__container {
		margin: 0;
		padding: 0;
	}

	.services__block {
		margin: 0 90px 45px 0;
		height: 460px;
	}

	.services__block:nth-child(even) {
		margin: 0 0 45px 90px;
	}

	/* Welcome */

	.welcome__container {
		padding: 0 30px;
	}

	.welcome__rooms {
		display: flex;
		padding-top: 30px;
		width: 100%;
	}

	/* Offers */

	.offers {
		padding-top: 60px;
	}

	.offers h2 {
		padding-left: 30px;
	}

	.offers__container {
		padding: 0;
	}

	.offers__carousel-card {
		margin-right: 20px;
		margin-left: 0;
		height: 500px;
		min-width: 400px;
	}

	.offers__carousel-card-desc {
		bottom: 30px;
		padding: 0 20px;
	}

	.offers__carousel-card-seemore.visible {
		display: inline;
	}

	.offers__carousel-card-desc-name {
		font-size: 1.25rem;
	}

	.offers__hr {
		margin: 15px auto 15px 0;
	}

	.offers__carousel-card-desc-text {
		height: 42px;
		font-size: 1rem;
		line-height: 22px;
	}

	/* Infrastructure */

	.infrastructure {
		padding-top: 45px;
		padding-bottom: 0;
	}

	.infrastructure__slider_wrapper {
		margin-top: 60px;
	}

	.infrastructure__slider {
		margin: 0 30px;
	}

	.infrastructure__slider_container {
		height: auto;
	}

	.infrastructure__slider_nav {
		left: 0;
		top: -35px;
		margin: 0;
		padding: 50px 70px 40px;
		width: 520px;
		height: 240px;
		box-sizing: border-box;
	}

	.infrastructure__slider_text {
		font-size: 1.25rem;
	}

	/* Certificates & Partners */

	.certificates__slider {
		margin: 0;
	}

	.certificates__slider_preview {
		width: 100%;
	}

	.certificates__slider_preview-button {
		margin-right: 20px;
		min-width: 30%;
		box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
	}

	.partners {
		position: static;
		flex-direction: row-reverse;
		padding: 30px 0 80px;
	}

	.partners__wrapper {
		/* margin-left: auto; */
		padding: 0 60px;
		width: 70%;
	}

	.partners__title {
		position: static;
		margin: 65px auto 0;
	}

	.partners_logos {
		flex-grow: 1;
		flex-direction: row;
		margin-bottom: 100px;
	}

	.partners_logos img {
		margin-bottom: 0;
	}

	.partners_logos img:nth-last-child(1) {
		margin-bottom: 0;
	}

	/* Reviews */

	.reviews {
		padding: 60px 0;
	}

	.reviews__container {
		padding: 0;
	}

	.reviews h2 {
		padding-left: 30px;
	}

	.reviews__card {
		margin-left: 30px;
		padding: 40px;
		height: auto;
		min-width: 490px;
	}

	.reviews__card-name {
		font-size: 1.25rem;
	}

	.reviews__card-date {
		margin-left: 16px;
	}

	.reviews__card-text {
		overflow: hidden;
		margin-top: 8px;
		max-height: 105px;
		font-size: 1rem;
		line-height: 20px;
	}

	.reviews__card-link {
		display: none;
	}

	/* News */

	.news {
		padding-top: 60px;
	}

	.news__wrapper {
		flex-direction: row;
	}

	.news__card {
		margin: 0 30px 0 0;
		height: 420px;
		flex-basis: calc(100% / 3);
	}

	.news__card:last-child {
		margin-right: 0;
	}

	.news__img {
		height: 200px;
	}

	.news__content {
		padding: 20px 40px 30px;
	}

	.news__title {
		font-size: 1.25rem;
	}

	.news__text {
		height: 65px;
		font-size: 1rem;
	}

	.news__read_more {
		display: block;
		margin-top: auto;
		font-family: 'Futura PT Book', sans-serif;
	}
}

/******************************************* WIDTH: 1330 *******************************************/
@media (min-width: 1330px) {
	.main_text {
		font-size: 1.25rem;
	}

	.h1,
	.h2,
	.h3 {
		font-size: 2.5rem;
		text-align: left;
	}

	.h2 {
		margin: 0 auto 30px 0;
	}

	.slider_wrapper {
		height: 600px;
	}

	.slider_view {
		flex-basis: 75%;
	}

	.carousel_wrapper {
		padding: 30px 0;
	}

	.carousel_wrapper::-webkit-scrollbar-track {
		margin: 0 30px;
	}

	.rating {
		height: 40px;
		font-size: 26px;
		letter-spacing: 5px;
	}

	.mobile {
		display: none;
	}

	/* Modal */

	.modal__container {
		max-width: 470px;
	}

	.modal__close-button {
		right: -25px;
		top: -25px;
	}

	.modal__recall,
	.modal__recall_done {
		padding: 35px 50px;
	}

	.modal__title {
		font-size: 1.5rem;
	}

	.modal__form input {
		height: 50px;
	}

	.modal__form input[type='submit'] {
		margin: 8px 0 15px;
	}

	/* Header */

	.header::after {
		content: none;
	}

	.header__content {
		margin-top: 0;
	}

	.header__conntacts {
		flex-direction: row;
		margin-bottom: 0;
		padding: 55px 0 45px;
	}

	.header__conntacts-logo {
		height: auto;
	}

	.header__conntacts .header__conntacts-call {
		display: flex;
	}

	.header__conntacts-address {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 45%;
	}

	.header__nav {
		justify-content: center;
		transform: none;
	}

	.header__nav_list {
		flex-direction: row;
	}

	.header__nav_list-item {
		margin: 0 30px;
	}

	.header__nav_list-link {
		color: #fff;
	}

	.header__nav_list-item:last-child {
		margin: 0 0 0 30px;
	}

	.header__order-title {
		font-size: 3.125rem;
	}

	.header__order-calc {
		width: 944px;
		height: 80px;
	}

	.header__order-mouse {
		display: block;
		align-self: center;
		margin: auto 0 37px;
		width: 25px;
		height: 37px;
	}

	/* Welcome */

	.welcome__container {
		align-items: center;
		padding: 30px 30px 0;
	}

	.welcome__text_wrapper {
		margin: 40px 0 30px;
		padding: 0;
		max-width: 75%;
	}

	.welcome__rooms_desc {
		display: flex;
		flex-direction: column;
		padding: 0 120px 50px 130px;
		width: 50%;
		max-height: 600px;
		box-sizing: border-box;
	}

	.welcome__rooms_desc-text {
		margin-top: 15px;
		font-family: 'Futura PT Light', sans-serif;
		font-size: 1rem;
	}

	.welcome__rooms__desc_scrollbox {
		overflow: auto;
		margin: 30px 0 40px;
	}

	.welcome__rooms__desc_scrollbox::-webkit-scrollbar {
		width: 2px;
	}

	.welcome__rooms__desc_scrollbox::-webkit-scrollbar-track {
		box-shadow: inset 0 0 5px #e0e0e0;
	}

	.welcome__rooms__desc_scrollbox::-webkit-scrollbar-thumb {
		background: #c2c2c2;
	}

	.welcome__rooms__desc_scrollbox-item,
	.welcome__rooms__desc_scrollbox-item-name {
		display: flex;
	}

	.welcome__rooms__desc_scrollbox-item {
		cursor: pointer;
		padding: 10px;
	}

	.welcome__rooms__desc_scrollbox-item.active {
		background: #f8f8f8;
	}

	.welcome__rooms__desc_scrollbox-item-img {
		width: 220px;
		height: 95px;
		object-fit: cover;
	}

	.welcome__rooms__desc_scrollbox-item-name {
		flex-direction: column;
		justify-content: center;
		margin-left: 25px;
	}

	.welcome__rooms__desc_scrollbox-item.title {
		margin-bottom: 5px;
		padding: 0;
		font-family: 'Futura PT Light', sans-serif;
		color: #aaa;
	}

	.welcome__rooms__desc_scrollbox-item.name {
		padding: 0;
		font-family: 'Prata', serif;
		color: #242424;
	}

	.welcome__rooms__desc-button-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 60px;
	}

	.welcome__rooms__desc-button {
		display: flex;
		align-items: center;
		border-width: 2px;
		border-color: #d9b690;
		border-top-style: solid;
		border-bottom-style: solid;
		padding: 0 20px;
		height: 56px;
		color: #d9b690;
		transition: all 0.2s ease-in-out;
		cursor: pointer;
	}

	.welcome__rooms__desc-button::after {
		content: '';
		margin-left: 10px;
		width: 32px;
		height: 7px;
		background: url('../img/icons/arrow-right.svg') center center no-repeat;
	}

	.welcome__rooms__desc-button:hover {
		border-color: #eeceac;
		height: 46px;
		color: #eeceac;
	}

	.welcome__rooms__desc-button:hover::after {
		background-image: url('../img/icons/arrow-right-hover.svg');
	}

	.welcome__rooms__desc-button:active {
		border-color: #cfab84;
		color: #cfab84;
	}

	.welcome__rooms__desc-button:active::after {
		background-image: url('../img/icons/arrow-right.svg');
	}

	.welcome__slider-desc {
		display: none;
	}

	.welcome__slider {
		width: 50%;
	}

	/* Services */

	.services {
		padding-top: 60px;
	}

	.services h2 {
		padding-left: 30px;
	}

	.services__container {
		margin: 0 auto;
		padding: 0;
	}

	.services__wrapper {
		flex-direction: row;
		height: 820px;
		background-image: url('../img/services_1.jpg');
		background-position: center 100%;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.services__block {
		justify-content: flex-start;
		margin: 0;
		border-width: 1px;
		border-color: rgba(255, 255, 255, 0.3);
		border-right-style: solid;
		border-left-style: solid;
		width: 25%;
		height: auto;
		background: rgba(0, 0, 0, 0);
	}

	.services__block:nth-child(even) {
		margin: 0;
	}

	.services__block:hover .services__block_content {
		top: 56%;
	}

	.services__block:hover .services__block_content-text {
		opacity: 1;
	}

	.services__block:hover {
		background: rgba(0, 0, 0, 0.4);
	}

	.services__block::after {
		content: none;
	}

	.services__block:nth-child(1) {
		background-image: none;
	}

	.services__block:nth-child(2) {
		background-image: none;
	}

	.services__block:nth-child(3) {
		background-image: none;
	}

	.services__block:nth-child(4) {
		background-image: none;
	}

	.services__block_content {
		display: flex;
		flex-direction: column;
		position: relative;
		top: 88%;
		bottom: 0;
		padding: 0 60px;
		box-sizing: border-box;
		transition: all 0.25s ease-in-out;
		height: auto;
	}

	.services__block_content-title {
		overflow: hidden;
		margin-bottom: 15px;
		height: 41px;
	}

	.services__block_content-link {
		display: none;
	}

	.services__block_content-text {
		display: block;
		overflow: hidden;
		margin-bottom: 26px;
		height: 147px;
		font-family: 'Futura PT Book', sans-serif;
		opacity: 0;
		transition: all 0.25s ease-in-out;
	}

	.services__block-button {
		display: flex;
	}

	/* Infrastructure */

	.infrastructure__slider_nav {
		width: 42%;
	}

	/* Certificates */

	.certificates {
		padding: 60px 0 45px;
	}

	.certificates .h2 {
		margin-bottom: 30px;
	}

	.certificates__partners {
		display: flex;
		flex-direction: row;
	}

	.certificates__slider {
		max-width: 548px;
		max-height: 540px;
	}

	.certificates__slider_view {
		display: flex;
	}

	.certificates__slider_preview {
		position: relative;
		padding-bottom: 0;
		width: auto;
	}

	.certificates__slider_preview-button {
		margin: 0;
		height: 100%;
		min-width: auto;
		box-shadow: none;
	}

	.certificates__slider::after {
		content: '';
		position: absolute;
		right: 0;
		bottom: 0;
		width: 25%;
		height: 50%;
		background: linear-gradient(
			to bottom,
			rgba(255, 255, 255, 0) 50%,
			rgb(255, 255, 255) 100%
		);
		pointer-events: none;
	}

	.certificates__slider_preview-button.active img {
		box-shadow: 0 0 20px 0 rgba(217, 182, 144, 0.1);
	}

	.partners__title {
		margin: 65px auto 0;
	}

	/* Footer */

	.footer {
		padding-top: 90px;
	}

	.footer__map {
		height: 370px;
	}

	.footer__map__address-wrapper {
		top: -410px;
		justify-content: left;
	}

	.footer__map__address {
		align-items: flex-start;
		margin-left: 90px;
		padding: 60px 60px 20px;
		height: 355px;
		min-width: 25%;
		text-align: left;
	}

	.footer__map__address::after {
		content: '';
		position: absolute;
		right: -22px;
		top: calc(50% - 22px);
		border-style: solid;
		border-width: 16px 0 16px 22px;
		border-color: transparent transparent transparent #fff;
		width: 0;
		height: 0;
	}

	.footer__map__address-text {
		margin-bottom: 36px;
		font-size: 1.25rem;
	}

	.footer__map__address-tel,
	.footer__map__address-email {
		margin-bottom: 25px;
		font-size: 1.375rem;
	}

	.footer__map__address-tel::before,
	.footer__map__address-email::before {
		margin-right: 20px;
		width: 32px;
		height: 32px;
	}

	.footer__copyright {
		margin: 15px 0;
		font-size: 1rem;
	}

	.footer__copyright_container {
		flex-direction: row;
	}
}

@media (min-width: 1620px) {
	.services__block_content-title {
		overflow: hidden;
		margin-bottom: 15px;
		height: 41px;
		font-size: 2rem;
	}
}
