@import url('main.css');

.h3 {
	padding: 0 10px;
	font-size: 1.5rem;
	text-align: center;
}

/* Header */

.header {
	height: auto;
	background: url('../img/pool/header_pool_bg.jpg') no-repeat center top /
		cover;
}

.header::after {
	background: linear-gradient(
		to bottom,
		transparent 30%,
		rgb(255, 255, 255) 70%
	);
}

.header__conntacts {
	margin-bottom: 5px;
}

.header__order-title {
	margin: 0 auto;
	max-width: 150px;
}

.header__content .welcome__text_wrapper {
	padding: 50px 8px 0;
}

.header__content .welcome__text:nth-child(1) {
	margin-bottom: 0;
}

.header__content .welcome__hr {
	margin: 20px auto;
	height: 55px;
}

/* Welcome */

.welcome__container .welcome__text_wrapper,
.welcome__container .welcome__hr {
	display: none;
}

.welcome__container {
	max-width: 1170px;
}

.welcome__rooms {
	flex-direction: column;
}

.welcome__rooms_desc {
	display: flex;
	flex-direction: column;
	padding: 10px 15px 0;
}

.welcome__rooms_desc-text {
	padding-top: 12px;
	font-size: 1rem;
}

.welcome__rooms__pool {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}

.welcome__rooms__pool_block {
	display: flex;
	margin-top: 25px;
}

.welcome__rooms__pool_block img {
	width: 32px;
	height: 40px;
}

.welcome__rooms__pool_block-text {
	margin-left: 20px;
	font-family: 'Futura PT Light', sans-serif;
	color: #242424;
}

.welcome__rooms__pool_work {
	margin: 0 -15px;
	padding: 30px 15px 5px;
	background: #f8f8f8;
}

.welcome__rooms__pool_work-title {
	margin: 0 0 15px;
	font-family: 'Futura PT Medium', sans-serif;
	font-weight: 300;
	font-size: 1.25rem;
	color: #242424;
}

.welcome__rooms__pool_work-list {
	padding-inline-start: 35px;
}

.welcome__rooms__pool_work-list li {
	position: relative;
	list-style: none;
	margin-bottom: 10px;
	font-family: 'Futura PT Light', sans-serif;
	color: #242424;
}

.welcome__rooms__pool_work-list li::before {
	content: '';
	position: absolute;
	left: -34px;
	top: 10px;
	width: 25px;
	height: 1px;
	background: #d9b690;
}

/* Massage */

.massage__container {
	display: flex;
	align-items: center;
	padding: 0;
}

.massage__title {
	padding: 0 15px;
	font-family: 'Futura PT Book', sans-serif;
	color: #181a20;
}

.massage__cards_wrapper {
	display: flex;
	flex-direction: column;
	padding-top: 5px;
	padding-bottom: 15px;
}

.massage__card {
	display: grid;
	grid-template:
		'separator_num header' 50px
		'separator_line header' auto
		'text text' auto
		'images images' 270px
		/ 80px 1fr;
	margin-top: 30px;
}

.massage__card_separator_num {
	grid-area: separator_num;
}

.massage__card_separator_line {
	grid-area: separator_line;
}

.massage__card_header {
	grid-area: header;
	padding: 0 15px 0 10px;
}

.massage__card_images {
	display: flex;
	grid-area: images;
	overflow-x: auto;
	padding-bottom: 15px;
	box-sizing: border-box;
}

.massage__card_images::-webkit-scrollbar {
	width: 2px;
	height: 2px;
}

.massage__card_images::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px #e0e0e0;
}

.massage__card_images::-webkit-scrollbar-thumb {
	background: #c2c2c2;
}

.massage__card_images-img {
	min-width: 80%;
}

.card-img_alone {
	min-width: 100%;
}

.massage__card_images-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.massage__card_separator_num-round {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 15px;
	border: 1px solid #e1e1e1;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	font-family: 'Futura PT Light', sans-serif;
	font-size: 1.7rem;
	color: #e1e1e1;
}

.massage__card_header-title {
	font-size: 1.25rem;
	line-height: 30px;
	text-align: left;
	color: #242424;
}

.massage__card_header-price {
	position: relative;
	padding-left: 35px;
	font-family: 'Futura PT Book', sans-serif;
	color: #666;
}

.massage__card_header-price::before {
	content: '';
	position: absolute;
	left: 0;
	top: 13px;
	width: 25px;
	height: 1px;
	background: #d9b690;
}

.massage__card_text {
	grid-area: text;
	padding: 25px 15px;
	font-family: 'Futura PT Book', sans-serif;
	font-size: 0.875rem;
	line-height: 21px;
	color: #181a20;
}

/* Phone */

.phone {
	justify-content: center;
	height: 170px;
	background: #f8f8f8;
}

.phone__wrapper {
	display: grid;
	grid-template:
		'phone_text' 1fr
		'phone_number' 1fr
		/ 240px;
	margin: 0 auto;
}

.phone__text {
	grid-area: phone_text;
	font-family: 'Futura PT Book', sans-serif;
	font-size: 1.125rem;
	text-align: center;
}

.phone__number {
	grid-area: phone_number;
	padding-top: 15px;
	font-family: 'Prata', serif;
	font-size: 1.5rem;
	text-align: center;
	color: #d9b690;
}

/* News */

.news {
	padding-top: 30px;
}

/******************************************* WIDTH: 550 *******************************************/

@media (min-width: 550px) {
	.massage__card {
		grid-template:
			'separator_num header' 50px
			'separator_line header' auto
			'text text' auto
			'images images' 400px
			/ 80px 1fr;
	}
}

/******************************************* WIDTH: 810 *******************************************/

@media (min-width: 810px) {
	/* Header */

	.header__conntacts {
		padding: 15px 0;
	}

	/* Welcome */
	.welcome__rooms__pool {
		flex-direction: row;
		margin: 15px 0 40px;
	}

	.welcome__rooms__pool_block:nth-child(1) {
		margin-right: 100px;
	}

	.welcome__rooms__pool_work {
		margin-bottom: 30px;
		padding: 25px 30px 5px;
	}

	/* Massage */

	.massage__container {
		max-width: 900px;
	}

	.massage__title {
		text-align: center;
	}

	.massage__cards_wrapper {
		padding: 45px 30px 0;
	}

	.massage__card {
		grid-template:
			'images separator_num header' 50px
			'images separator_line text' 34px
			'images separator_line text' 130px
			/ 1fr 50px 1fr;
	}

	.massage__card:nth-child(even) {
		grid-template:
			'header separator_num images' 50px
			'text separator_line images' 34px
			'text separator_line images' 130px
			/ 1fr 50px 1fr;
	}

	.massage__card_header {
		padding: 0 15px;
	}

	.massage__card_text {
		padding: 15px 0 0 15px;
	}

	.massage__card:nth-child(even) .massage__card_text {
		padding: 15px 15px 0 0;
	}

	.massage__card_separator_num-round {
		margin: 0;
	}

	.massage__card_separator_line {
		justify-self: center;
		width: 1px;
		height: 100%;
		background: #e1e1e1;
	}

	/* Massage images */

	.massage__card_images {
		position: relative;
		overflow: visible;
		padding: 0;
	}

	.massage__card_images-img {
		position: absolute;
		min-width: auto;
		transition: opacity 0.2s ease-in-out;
	}

	/* 1 */
	.card-img_1_1 {
		left: 20px;
		top: -10px;
		width: 235px;
		height: 240px;
	}

	.card-img_1_2 {
		left: 70px;
		top: 23px;
		width: 275px;
		height: 180px;
	}

	.card-img_2_1 {
		left: 46px;
		top: 20px;
		width: 285px;
		height: 170px;
	}

	.card-img_3_1 {
		left: 110px;
		top: -30px;
		width: 235px;
		height: 240px;
	}

	.card-img_3_2 {
		left: 40px;
		top: 60px;
		width: 235px;
		height: 150px;
	}

	.card-img_4_1 {
		left: 65px;
		top: 55px;
		width: 265px;
		height: 160px;
	}

	.card-img_4_2 {
		left: 150px;
		top: 0;
		width: 235px;
		height: 150px;
	}

	.card-img_5_1 {
		left: 40px;
		top: 20px;
		width: 285px;
		height: 170px;
	}
}

/******************************************* WIDTH: 1330 *******************************************/

@media (min-width: 1330px) {
	.h3 {
		padding: 0;
		font-size: 2.5rem;
		text-align: left;
	}

	.slider_wrapper {
		height: 700px;
	}

	/* Header */

	.header {
		margin-bottom: 0;
		height: 100vh;
	}

	.header__order-title {
		margin: 0 auto;
		margin-top: calc(23vh);
		max-width: none;
	}

	.header__conntacts {
		margin-bottom: 0;
		padding: 55px 0 45px;
	}

	.header__content .welcome__text_wrapper,
	.header__content .welcome__hr {
		display: none;
	}

	/* Welcome */

	.welcome__container .welcome__text_wrapper,
	.welcome__container .welcome__hr {
		display: block;
	}

	.welcome__container .welcome__text_wrapper,
	.welcome__container .welcome__text_wrapper p {
		margin: 0;
		max-width: 100%;
	}

	.welcome__hr {
		margin: 40px 0;
	}

	.welcome__rooms {
		flex-direction: row;
		padding-top: 0;
	}

	.welcome__rooms_desc {
		padding: 30px 0 0;
		min-width: 50%;
		max-height: 700px;
	}

	.welcome__rooms_desc-text {
		font-size: 1.25rem;
	}

	.welcome__rooms__pool_work {
		margin: 0;
		padding-left: 32px;
	}

	.welcome__slider {
		margin-left: 80px;
	}

	/* Massage */

	.massage__container {
		max-width: 1200px;
	}

	.massage .h2 {
		margin: 0 auto 15px;
	}

	.massage__title {
		padding: 0 30px;
		font-size: 1.25rem;
	}

	.massage__card {
		grid-template:
			'images separator_num header' 66px
			'images separator_line header' 34px
			'images separator_line text' 230px
			/ 1fr 66px 1fr;
		margin-top: 60px;
		max-width: 1200px;
	}

	.massage__card:nth-child(even) {
		grid-template:
			'header separator_num images' 66px
			'header separator_line images' 34px
			'text separator_line images' 230px
			/ 1fr 66px 1fr;
	}

	.massage__card_header {
		padding: 20px 0 0 45px;
	}

	.massage__card_header-title {
		margin-bottom: 20px;
		font-size: 1.875rem;
	}

	.massage__card_header-price {
		font-size: 1.25rem;
	}

	.massage__card_text {
		padding: 30px 0 0 45px;
		font-size: 1.25rem;
		line-height: 30px;
	}

	.massage__card:nth-child(even) .massage__card_header {
		padding: 20px 45px 0 0;
	}

	.massage__card:nth-child(even) .massage__card_text {
		padding: 30px 45px 0 0;
	}

	.massage__card_separator_num-round {
		margin: 0;
		width: 66px;
		height: 66px;
		font-size: 2.3rem;
	}

	/* Massage images */

	/* 1 */
	.card-img_1_1 {
		left: -20px;
		top: -30px;
		width: 390px;
		height: 400px;
	}

	.card-img_1_2 {
		left: 30px;
		top: 43px;
		width: 455px;
		height: 300px;
	}

	.card-img_2_1 {
		left: 46px;
		top: 20px;
		width: 440px;
		height: 270px;
	}

	.card-img_3_1 {
		left: 110px;
		top: -50px;
		width: 390px;
		height: 400px;
	}

	.card-img_3_2 {
		left: 35px;
		top: 110px;
		width: 390px;
		height: 255px;
	}

	.card-img_4_1 {
		left: 65px;
		top: 85px;
		width: 440px;
		height: 270px;
	}

	.card-img_4_2 {
		left: 150px;
		top: -20px;
		width: 390px;
		height: 255px;
	}

	.card-img_5_1 {
		top: 20px;
		width: 440px;
		height: 270px;
	}

	/* Phone */

	.phone__wrapper {
		grid-template:
			'. phone_text . phone_number phone_number' 1fr
			/ 1fr 320px 80px 320px 1fr;
	}

	.phone__text {
		margin-right: 0;
		font-size: 1.5rem;
		text-align: left;
	}

	.phone__number {
		padding: 0;
		font-size: 2.5rem;
	}

	/* .phone {
    height: 170px;
    background: #f8f8f8;
  }

  .phone__container {
    margin: auto 0;
  }

  .phone__wrapper {
    display: grid;
    grid-template:
      "phone_text" 1fr
      "phone_number" 1fr
      / 240px;
    margin: 0 auto;
  }

  .phone__text {
    grid-area: phone_text;
    font-family: "Futura PT Book", sans-serif;
    font-size: 1.125rem;
    text-align: center;
  }

  .phone__number {
    grid-area: phone_number;
    padding-top: 15px;
    font-family: "Prata", serif;
    font-size: 1.5rem;
    text-align: center;
    color: #d9b690;
  } */
}
